Nodered code
[{"id":"e79ae1b9.8a7e9","type":"e-mail","z":"1bfedd8f.b69ff2","server":"smtp.gmail.com","port":"465","name":"cool.raj007.kr@gmail.com","dname":"email out","x":779,"y":97,"wires":[]},{"id":"955aa927.5a8588","type":"watson-natural-language-classifier","z":"1bfedd8f.b69ff2","name":"","mode":"classify","language":"en","classifier":"2a3230x98-nlc-3617","x":365,"y":89,"wires":[["7d63f99a.056e38","d807c78f.e2f1e8"]]},{"id":"7d63f99a.056e38","type":"function","z":"1bfedd8f.b69ff2","name":"","func":"if (msg.payload.top_class == \"Feedback\") {\nmsg.payload=\"@\"+msg.sender+\" Thanks for your feedback\";\n}\nelse if (msg.payload.top_class == \"Complaint\") {\nmsg.payload=\"@\"+msg.sender+\" We are sorry. Our customer rep will contact you shortly\"\n}\nelse{\nmsg.payload=\"@\"+msg.sender+\" You can look for more information in our website\"\n}\n//msg.to = msg.from;\n//msg.from =  \"cool.sam.kr@gmail.com\";\nreturn msg;","outputs":1,"noerr":0,"x":588,"y":55,"wires":[["ca09423e.feab7","e79ae1b9.8a7e9"]]},{"id":"ca09423e.feab7","type":"debug","z":"1bfedd8f.b69ff2","name":"","active":true,"console":"false","complete":"payload","x":716,"y":231,"wires":[]},{"id":"d807c78f.e2f1e8","type":"debug","z":"1bfedd8f.b69ff2","name":"","active":true,"console":"false","complete":"false","x":582,"y":414,"wires":[]},{"id":"46643ba7.201214","type":"e-mail in","z":"1bfedd8f.b69ff2","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"None","repeat":"300","x":92,"y":86,"wires":[["955aa927.5a8588"]]}]
